.custom-theme-background #app-mount .scroller-hE2gWq {
    border-left-color: var(--bg-overlay-6-inverse-nogradient);
    .wrapper-2RrXDg {
        border-color: var(--bg-overlay-6-inverse-nogradient);
        background: var(--bg-overlay-5-nogradient);
        &:hover {
            background-color: var(--bg-overlay-6-inverse-nogradient);
        }
        .inset-SbsSFp {
            background-color: var(--bg-overlay-6-inverse-nogradient);
            .section-3G9aLW {
                background: none;
            }
        }
        .separator-2OaeRP {
            background-color: var(--bg-overlay-6-inverse-nogradient);
        }
    }
}