.custom-theme-background .applicationStore-2nk7Lo {
    background: var(--bg-overlay-chat);
    .container-ZMc96U,
    .scroller-29cQFV {
        background: none;
    }
    .feature-2IUcBI {
        background: var(--bg-overlay-1);
    }
}